<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.baswarajmamidgi.virtualmtp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Login "
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Faculty.MenteeList" android:label="Students" >

        </activity>
        <activity
            android:name=".Faculty.Mentee_Main"
            android:label="@string/title_activity_mentee_details">
        </activity>
        <activity
            android:name=".Student.StudentActivity"
            android:label="@string/title_activity_student"></activity>
    </application>

</manifest>